/* RESET  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

/* STYLE DU CONTAINER PRINCIPALE  */
.container{
    width: 100vw;
    height:100vh;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* STYLE POUR LE TEXTE */
.container-text h1{
    font-size: 40px;
    text-transform: capitalize;
}

/* STYLE DU TEXTE  */
.container-text p{
    font-size:18px; 
}

/* STYLE DE L'INFO DU PRIX  */
.info-pricing{
    padding:15px;
    background-color: purple;
    border-radius: 15px;
}

/* STYLE DU TEXTE DE L'INFO PRIX  */
.info-pricing p{
    color:white;
    text-align: center;
    font-weight: bolder;
    font-size:18px;
}


/* POUR LE FORMULAIRE  */
.form{
    padding:20px;
    
    background-color: white;
    width:500px;
    margin-top: 35px;
}

/* STYLE DU FORMULAIRE   */
.form form{
    display: flex;
    flex-direction: column;
   
}

/* STYLE DE L'INPUT */
.form form input{
    width:450px;
    height:40px;
    margin-bottom:20px;
}

/* STYLE POUR LE BOUTON INNSCRIPTION */
.btn-form{
    background-color: green;
    border:none;
    color: white;
    cursor: pointer;
    
}

/* *****************DEBUT DU RESPONSIVE ****************** */

/* POUR L'ECRAN DES PORTABLE  */
@media screen and (max-width:510px){

    .container{
        flex-direction: column;
        /* justify-content: flex-start; */
        align-items: flex-start;
       
    }

     .container-text h1{
        text-align: center;
        margin: 20px 0 20px 0;
    }

    
    .container-text p{
        margin: 0 20px 20px 20px;
        
    }

    .info-pricing{
        width:100vw;
        
    }

    .form{
        width:100%;
    }

    .form form input{
        width:95%;
    }


    
}


/* TABLETTE  */
@media screen and (min-width:511px) and (max-width:1000px){
    

    /* POUR FAIRE PASSER TOUS LES ELEMENTS EN COLONNES  */
    .container{
        flex-direction: column;
        
    }

    .container-text h1{
        text-align: center;
        margin: 20px 0 20px 0;
    }

    .container-text p{
        margin: 0 20px 20px 20px;
    }



}

