/* RESET  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* POUR LE BACKGROUND DE LA PAGE  */
body{
    background-color: #f4f2f2;
}

/* POUR CENTRER LA CARD */
main{
    display: flex;
    /* flex-direction: column; */
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    
}

/* LA CARD  */
.card{
    display: flex;
    flex-direction: column;
    width: 28vw;
    /* border:1px solid blue; */
    background-color: white;
    /* Pour centrer le contenue  */
    align-items: center;
}



/* POUR DIMENSIONNER L'IMAGE  */
.div-img img{
    width:28vw;
    height:300px;
}

/* POUR LE TEXTE  AU DESSUS DU RECPAITULATIF DE LA COMMANDE  */
.div-text h1, .div-text p{
    text-align: center;
    margin-top:12px;
}

/* TITRE  */
.div-text h1{
    font-size: 26px;
}

.div-text p {
    margin-bottom:15px;
    font-size:16px;
}

/* **** RECAPITULATIF DU PLAN ACHETER */
.div-pricing{
    display: flex;
    padding: 15px;
    background-color: aliceblue;
    width:70%;
    margin-bottom: 15px;
    justify-content: space-between;  
}

.text-pricing p{
    font-size: 16px;
}

.text-pricing p:first-child{
    margin-bottom: 3px;
}

.text-pricing-2{
    color:gray;
}

.pricing-input input{
    border:none;
    cursor: pointer;
    background-color: aliceblue;
    padding:5px;
    color:blue;
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}

/* *****************POUR LES BOUTON EN BAS DE LA DIV  ***************/
.div-btn{
    display: flex;
    flex-direction: column;
    width:70%;
    
}

.btn-payment,.btn-cancel{
    padding:10px;
    margin-bottom: 15px;
    cursor: pointer;
    
}

.btn-payment{
    background-color: blue;
    color:white;
    border:none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.btn-cancel{
    background-color: white;
    border:none;
    color:gray;
    font-size:16px;
}


/************ RESPONSIVE ************** */

/*  GRAND ECRAN  */

@media screen and (min-width: 800px) and (max-width: 1100px){
    
    .card{
        width:50vw;
    }

    .div-img img{
        width: 40vw;
    }
}

/* TABLETTE */
@media screen and (min-width:600px) and (max-width:799px){

    .card{
        width:70vw;
    }

    .div-img img{
        width: 50vw;
    }
}

/* PETIT SMARTPHONE */
@media screen and (max-width: 599px){
    .card{
        width:90vw;
    }

    .div-img img{
        width: 70vw;
    }

    .div-text h1, .div-text p{
        margin-top:20px;
    }

    .div-text p,.div-pricing,.btn-payment,.btn-cancel{
        margin-bottom:20px;
    }

   
}